.container {
display: flex;
padding:5px
}

.container_card{
border: 1px solid black;
padding: 5xp;
border-radius: 5px;
margin: 2px
}

.container_card > img{
height: 200px;
}

.container_card > h3{
    padding: 3px !important;
    margin: 0 !important;
} 

.container_card > button{
    margin-top:5px; 
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

